name: Build
on: [push, pull_request]
jobs:
  release:
    name: Release - ${{ matrix.platform.target }}
    strategy:
      matrix:
        platform:
          - os: ubuntu-latest
            target: x86_64-pc-windows-gnu
            cli: ggoled.exe
            app: ggoled_app.exe
    runs-on: ${{ matrix.platform.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cache
        uses: actions/cache@v4
        with:
          key: ${{ matrix.platform.target }}-${{ matrix.platform.os }}
          path: |
            ~/.cargo
            target
      - name: Install MinGW
        run: sudo apt update && sudo apt install gcc-mingw-w64
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: ${{ matrix.platform.target }}
      - name: Build
        run: cargo build --release --locked --target ${{ matrix.platform.target }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform.target }}
          path: |
            target/${{ matrix.platform.target }}/release/${{ matrix.platform.cli }}
            target/${{ matrix.platform.target }}/release/${{ matrix.platform.app }}
